html, body {
    padding-top: 0;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
}

#top_banner {
	length: 100em;
	background-color:white;
}

#banner_button {
	padding: 1em;
	text-align:left; 
	width: 8em;
	length: 20em;
	background-color: white;
	text-align:center;
}

#homelink {
	text-align:center;
	text-decoration: none;
	font-weight: bold;
	color: rgb(64,64,64);
}

* {
	text-align:center;
	font-family: Arial;
}

.me {
	position: relative;
}

.me_pic {
	float:left;
	height:auto;
	width:auto;
	max-width:23em;
	max-height:55em;
}

.me_text {
	position: absolute;
	top: 11em;
	border-left: 3em solid rgb(64,64,64);
	border-top: 0.2em solid rgb(64,64,64);
	opacity: 0.85;
}
.me2_text {
	position: absolute;
	top: 17.3em;
	border-left: 0.5em solid rgb(64,64,64);
	opacity: 0.85;
}

h2 span {
    color: white; 
    font: bold 0.8em/4em Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    background: rgb(64,64,64);
    margin-left: -0.2em;
    padding: 1.4em;
}

h4 span {
    color: white; 
    font: bold Helvetica, Sans-Serif;   
    background: rgb(64,64,64);
    padding: 10px;
}

h1 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(64,64,64);
   padding: 9px; 
}

.mealbuzz_pic {
	float:right;
	height:auto;
	width:auto;
	max-width:34.25em;
	max-height:60em;
}

.mealbuzz_text {
	margin-left: 11.5em;
	position: absolute;
	top: 6.5em;
	border-left: 1em solid rgb(64,64,64);
	border-top:0.1em solid rgb(64,64,64);
	opacity:0.85;
}

.picsite_pic {
	float: right;
	height:auto;
	width:auto;
	max-width:34.25em;
	max-height:22em;
}

.picsite_text {
	margin-left: 11.5em;
	position: absolute;
	top: 17.5em;
	border-left: 1em solid rgb(64,64,64);
	border-top:0.1em solid rgb(64,64,64);
	opacity:0.85;
}

/*a:hover {
	color: white;
	opacity: 0.5;
}*/
div.mosaic:hover {
	opacity:0.7;
}

a:hover {
	opacity:0.5;
}

.logo_bro {
	height:auto;
	width:auto;
	max-width:80px;
	max-height:80px
}

.aspire_pic {
	float:left;
	height:auto;
	width:auto;
	max-width:23em;
	max-height:55em;
}

.aspire_text {
	margin-top:660px;
	position: absolute;
	border-left: 31px solid rgb(64,64,64);
	border-top:1px solid rgb(64,64,64);
	opacity:0.85;
}

.aspire_text2 {
	margin-top:716px;
	position: absolute;
	//border-left: 8px solid rgb(64,64,64);
	border-top:1px solid rgb(64,64,64);
	opacity:0.85;
	padding-top: -20px;
}

.last_piece {
	border-radius: 5px;
	background-color: white;
	float:right;
	width:34.25em;
	height:11.3em;
}

.contact_head {
	margin-left: 10px;
	float:left;
	color:black;
}

.github_text {
	float:left;
	
	height:auto;
	width:auto;
	max-width:70px;
	max-height:50px
}

.github_pic {
	float:left;
	margin-left: 20px;
	height:auto;
	width:auto;
	max-width:30px;
	max-height:30px
}

.git_link {
	float:left;
	margin-top: 1.1em;
	margin-left: 3em;
	text-decoration: none;
	color: black;
	border-radius: 0.2em;
	border: 0.2em solid black;
	padding: 0.3em;
	font-family: Arial;
	font-weight: bold;
}

.linkedin_logo {
	float:left;
	margin-top: 1.1em;
	margin-left: 0.6em;
	height:auto;
	width:auto;
	max-width:8em;
	max-height:5em;
}



