<br>
<table style="border: 1px solid darkgrey; border-radius:5px; box-shadow: 5px 5px 2px #888888; background-color: white">
	<tr id="classact"> <td><h2>ClassAct:</h2><h3>Ascend SAT data analytics and class/student scorecard builder</h3></td></tr>
	<tr> <td><img style="height:auto; width:auto; max-width:200px; max-height:200px;" src="http://www.aspireeducation.org/images/logocleartrimsmall.jpg"></td></tr>
	<tr><td style="text-align: left;">This application was the end product of my first hackathon and was built as a Standardized Test grading and basic analytics tool for a local nonprofit tutoring group. It features a grade input page which can be used to quickly input test keys and student solutions. The site also generates easily readable pdfs which highlight commonly missed questions, averages across tests, and generally provides instructors and students an easy way of seeing what to work on. This hack also won "Best beginner hack" for the event. </td></tr>
	<tr><td><a href="https://salty-earth-5445.herokuapp.com">Project Link</a></td></tr>
	<tr id="mealbuzz"><td><h2>MealBuzz:</h2><h3>A dining hall rating application</h3></td></tr>
	<tr><td><img style="height:auto; width:auto; max-width:200px; max-height:200px;" src="assets/mealbuzz.png"</td></tr>
	<tr><td style="text-align: left;">
		MealBuzz is a web application that gives ratings in real time to dining halls on the Berkeley campus. Ratings can be provided by students for each meal using a simple interface that checks if users are legitimate by asking a simple Berkeley related trivia question. Students can check MealBuzz each meal to make a decision on which dining hall to eat at based on the best ratings. Using some basic analysis of which meals receieve high scores, the application can find which meal items are particularly popular and notify users when and where those items are being offered.
	</td><tr>
	<tr><td><a>Under construction!</a>
	<tr id="picsite"><td><h2>PicSite:</h2><h3>A barebones images sharing website</h3></td></tr>
	<tr><td><img style="height:auto; width:auto; max-width:200px; max-height:200px;" src="assets/picsite.png"</td></tr>
	<tr><td style="text-align: left;">
		This website was a project for a ruby on rails class I took at Berkeley. It is simple and not incredibly pretty, but it was built in about a day and demonstrates a wide variety of features that are commonly used in most social networking sites as well as modern websites. It is meant to demonstarte my knowledge of back end rails development.
	</tr></td>
	<tr><td><a href="http://rocky-tundra-8244.herokuapp.com/">Project Link</a></td></tr>
</table>
