<h1> Projects </h1>
<br>
<br>
<table style="border: 1px solid darkgrey; border-radius:5px; box-shadow: 5px 5px 2px #888888">
	<tr> <td>Ascend SAT data analytics and class/student scorecard builder</td><td>MealBuzz</td></tr>
	<tr> <td><img style="height:auto; width:auto; max-width:200px; max-height:200px;" src="http://www.aspireeducation.org/images/logocleartrimsmall.jpg"></td></tr>
	<tr><td>This application was the end product of my first hackathon and was built as a Standardized Test grading and basic analytics tool for a local nonprofit tutoring group. It feautures a grade input page which can be used to quickly input test keys ans student solutions. The site also generates easily readble pdfs which highlight commonly missed questions, averages across tests and generally provide instructors and students an easy way of seeing what to work on. This hack also won "Best beginner hack" for the event. </td></tr>
	<tr><td><a href="https://salty-earth-5445.herokuapp.com">Project Link</a></td></tr>
</table>
