<a href="/assets/NSWebResume.pdf">	
	<div class="mosaic">

		<img class="me_pic" src="/assets/nic_profile.jpg"/>

		<h1 class="me_text"><span>Nic Stone</span></h1>

		<h2 class="me2_text"><span>Computer Science | UC Berkeley</span></h2>

	</div>
</a>

<a href="/projects#mealbuzz">
	<div class="mosaic">

		<img class="mealbuzz_pic" src="/assets/mealbuzz.png">
		
		<h1 class="mealbuzz_text"><span>MealBuzz: Real time dining hall ratings.</span></h1>

	</div>
</a>

<a href="/projects#picsite">
	<div class="mosaic">

		<img class="picsite_pic" src="/assets/picsite.png">

		<h1 class="picsite_text"><span>PicSite: A barebones image sharing site</span></h1>

	</div>
</a>

<a href="/projects#classact">
	<div class="mosaic">

		<img class="aspire_pic" src="/assets/aspire.png">

		<h1 class="aspire_text"><span>ClassAct</span></h1>

		<h4 class="aspire_text2"><span>Standardized testing grader and data analysis</span></h4>

	</div>
</a>

<a>
	<div class="last_piece">
		<table>
			<tr>
				<td><img class="github_pic" src="/assets/github_pic.png"></img><img class="github_text" src="/assets/GitHub_Logo.png"></img></td>
				<td><a class="git_link" href="https://github.com/nmstone" target="_blank">github.com/nmstone</a></td>
			</tr>
			<tr>
				<td>
					<img class="linkedin_logo" src="/assets/linkedin_sitelogo.jpg"></img>
					<td><a class="git_link" href="https://www.linkedin.com/pub/nicolas-stone/82/27/477" target="_blank">linkedin.com/profile/nicstone</a></td>
				</td>
			</tr>
			
	</div>
</a>
<br>
<br>
